{% extends 'base.html' %}

{%block content%}
  </div>
<form>
        <div class="relative">
          <div class="center">
            <h2 class="animation a1">Enter contact info here!</h2>
          </div>
          <div class="form">
            <input type="name" class="form-field animation a3" placeholder="Full Name">
            <input type="email" class="form-field animation a4" placeholder="Email">
            <p class="animation a5"></p>
            <input type="submit" class="animation a6" value="SEND"> 
          </div>
        </div>
        <div class="center"></div>
      </div>
</form>
<br>
<footer>
{%endblock%}
