{% extends 'base.html' %}

{%block content%}
<p>The cyberpunk genre can be defined as one that might be closer to our reality than we may think.
    We may watch movies like Bladerunner and play games like Cyberpunk 2077 and become enthralled in a world
    that seems like fantasy, but it's actually quite the opposite; the future is much closer. The influence
    of cyberpunk can be seen throughout our present, but it's most interesting to see in modern design, whether
    it be graphics, movies, video games, or more.</p>
    <section>
    <h4>What are some key characteristics of "<a href="Cyberdesign.html">cyber design</a>"?</h4>
    <img src="{{url_for('static', filename='olay2020cyberpunk.jpeg')}}">
    <ul>
    <li>Neon color schemes</li>
    <li>Technologically advanced cities/people</li>
    <li>Presence of A.I.</li>
    <li>Increased division of upper and lower classes</li>
    <li>Focus on corporations and/or monopolies</li>
    <li>...And of course, robots.</li>
    </ul>
    </section>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{%endblock%}
